<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- See http://www.mongodb.org/display/DOCS/CSharp+Driver+Tutorial#CSharpDriverTutorial-Connectionstrings for more info -->
    <!--<add name="MongoServerSettings" connectionString="mongodb://localhost/CrowdChat" />-->
    <add name="MongoServerSettings" connectionString="mongodb://user:user123@ds063779.mongolab.com:63779/crowd-chat" />
  </connectionStrings>
</configuration>